.App {
	/* text-align: center; */
	font-family: Arial, Helvetica, sans-serif;
}

.task-box {
	background-color: #23c0fa;
	text-align: right;
	width: 90%;
	padding: 30px 70px 30px 30px;
	border-radius: 5px;
	box-shadow: 2px 2px #5d8888;
	color: white;
}

.title-box {
	font: bold;
	font-size: 50px;
}
#to-do {
	padding: 5px;
	border-radius: 5px;
	font-size: 20px;
	width: 80%;
}

.add-btn {
	background-color: #23c0fa;
	color: white;
	margin-top: 30px;
	padding: 10px;
	font-size: 16px;
	width: 100px;
	border-color: white;
}
#title-items {
	color: grey;
	text-align: center;
	font-size: 30px;
}
#tasks {
	list-style-type: upper-roman;
}
.checked {
	text-decoration-line: line-through;
}
